/* src/index.css */
:root {
  --background: #0D1117;
  --surface: #161B22;
  --border: #30363D;
  --text-primary: #E6EDF3;
  --text-secondary: #8B949E;
  --accent: #8867FF;
  --accent-hover: #7152d9;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.map-tooltip-style {
  background-color: rgba(15, 23, 42, 0.9) !important;
  color: #cbd5e1 !important;
  padding: 8px 12px !important;
  border-radius: 6px !important;
  font-size: 0.9em !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  max-width: 250px !important;
  text-align: center !important;
  pointer-events: none !important;
}

.text-shadow {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
  border: 2px solid #1e293b;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}


html {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) #1e293b;
}
